@import "src/@fuse/scss/fuse";

#profile {

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
  
}
@import "src/@fuse/scss/fuse";

:host {

    .content {

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .card {
                display: flex;
                align-items: flex-start;
                padding: 24px 24px 48px 24px;
                margin-bottom: 96px;

                .card-preview {
                    display: flex;
                    min-width: 320px;
                }

                .card-source {
                    display: none;
                }
            }
        }

        &.source {

            .cards {
                flex-direction: column;

                .card {
                    width: 100%;
                    margin-bottom: 24px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                    .card-source {
                        background: #263238;
                        display: flex !important;
                        flex: 1;
                        max-height: 400px;
                        overflow: auto;
                        min-width: 400px;
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}

